.dropdown-search
{
  height:auto;
  max-height:400px;

  overflow-y:scroll;
  position: absolute;

  z-index:1;
}
.field-search
{

position:relative;
}
.outer-field-search
{
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
}
