<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{product.image}}" /></div>
          </div>


        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.name}}</h3>


          <h4 class="price">Од: <span></span> денари</h4>
          <h5>Во <span></span></h5>


          <div class="action">
            <button class="add-to-cart btn btn-default" type="button">Купи</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
