<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="{{product.image}}" /></div>
          </div>


        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{product.name}}</h3>


          <h4 class="price">Од: <span>{{product.lowestPrice}}</span> денари</h4>

        </div>
      </div>
    </div>
  </div>
</div>
<h3>Продуктот е достапен во:</h3>
<div class="container card-container">
  <div class="row">
    <div class="col" *ngFor="let price of latestProductPrices">
      <app-product-price [productPrice]="price"></app-product-price>
    </div>

  </div>
</div>
